---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
published: false
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Publications</h2>

<p><strong>[1] ICML 2026</strong><br>
<strong>Lightweight Federated Incremental Learning via Decoupled Replay.</strong><br>
Xiuying Wang, Yichen Li, Hang Su, Gaozhuo Liu, Shiwei Li, Chuang Zhao, Jiangming Shi, Imran Razzak</p>

<p><strong>[2] TPAMI</strong><br>
<strong>Ego-R1: Chain-of-Tool-Thought for Ultra-Long Egocentric Video Reasoning.</strong><br>
S. Tian, R. Wang, H. Guo, P. Wu, Y. Dong, Xiuying Wang, Jingkang Yang, Hao Zhang, Hongyuan Zhu, Ziwei Liu</p>

<p><strong>[3] NeurIPS 2025</strong><br>
<strong>Feature Distillation is the Better Choice for Model-Heterogeneous Federated Learning.</strong><br>
Yichen Li, Xiuying Wang, Wenchao Xu, Haozhao Wang, Yining Qi, Jiahua Dong, Ruixuan Li</p>

<h2>Under Review</h2>

<p><strong>[4] NeurIPS 2026</strong><br>
<strong>Rehearsal-Free Statistical Prototype Regularization for Federated Incremental Learning.</strong><br>
Xiuying Wang, Yichen Li, Jiahua Cheng, Xiwei Liu, Chuang Zhao, Bo Liu, Imran Razzak</p>

<p><strong>[5] NeurIPS 2026</strong><br>
<strong>Heterogeneity-aware Distillation for Federated Continual Learning.</strong><br>
Gaozhuo Liu, Yichen Li, Xiuying Wang, Yulong Li, Chuang Zhao, Yankai Jiang, Imran Razzak</p>
<!--
 New style rendering if publication categories are defined
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->
